@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$color1:#1E67E2;
$color2:#4EA6D6;
$color3:#85D0D5;
$color4:#F4D037;
$color5:#964FE8;
$color6:#000;
$color7:#5c5c5c;
$color8:white;

$font: 'Poppins', sans-serif;
$fsize: 16px;

%glass{
    background: rgba(255, 255, 255, 0.822);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.2px);
    -webkit-backdrop-filter: blur(14.2px);
}

%glass1{
    background: rgba(255, 255, 255, 0.534);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.2px);
    -webkit-backdrop-filter: blur(14.2px);
}

%trans{
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
